#  Python Programming Assignment 01

## 1 - Age Assignments Based on the Riddle

In [181]:
anton_age = 21

In [184]:
beth_age = anton_age + 6

In [185]:
chen_age = beth_age + 20

In [186]:
drew_age = chen_age + anton_age

In [187]:
ethan_age = chen_age

In [188]:
print("Anton is",anton_age,"years old")

Anton is 21 years old

In [12]:
print("Beth is",beth_age,"years old")

Beth is 27 years old

In [13]:
print("Chen is",chen_age,"years old")

Chen is 47 years old

In [14]:
print("Drew is",drew_age,"years old")

Drew is 68 years old

In [189]:
print("Ethan is",ethan_age,"years old")

Ethan is 47 years old

# 2 - Formatted STring Interpolation

In [16]:
name:str = ("Alice")

In [17]:
age:int = 30

In [18]:
city = ("New York")

In [21]:
print(f"{name} is {age} years old and lives in {city}.")

Alice is 30 years old and lives in New York.

# 3 - String Manipulation

## 1 - Capitalize
## 2 - Uppercase
## 3 - Lowercase

In [97]:
s:str = "hElLo WoRlD"

In [98]:
capitalize_first = s.capitalize()

In [99]:
uppercase = s.upper()

In [100]:
lowercase = s.lower()

In [101]:
print(capitalize_first)

Hello world

In [102]:
print(uppercase)

HELLO WORLD

In [103]:
print(lowercase)

hello world

# 4 - Substring Search

In [109]:
s:str = "the quick brown fox jumps over the lazy dog"

In [110]:
index_of_fox = s.find("fox")

In [111]:
count_of_the = s.count("the")

In [112]:
print(f"index of 'fox' is {index_of_fox}")

index of 'fox' is 16

In [113]:
print(f"'the' appears {count_of_the} times")

'the' appears 2 times

# 5 - String Replacement

In [120]:
s:str = "I love programming in Python"

In [123]:
replaced_string = s.replace("Python","Java")

In [124]:
print(replaced_string)

I love programming in Java

# 6 - String Splitting and Joining

In [210]:
s:str = "apple,banana,cherry,dates"

In [211]:
split_list = s.split(',')

In [212]:
joined_string = ' '.join(split_list)

In [213]:
print(joined_string)

apple banana cherry dates

In [214]:
print(split_list)

['apple', 'banana', 'cherry', 'dates']

# 7 - String Stripping and Justifying

In [229]:
s:str = "       Python is fun!      "

In [230]:
stripped_string = s.strip()

In [231]:
left_justified = stripped_string.ljust(20,'*')

In [240]:
justified = stripped_string.rjust(20,'*')

In [241]:
print(stripped_string)

Python is fun!

In [242]:
print(left_justified)

Python is fun!******

In [243]:
print(justified)

******Python is fun!

# 8 - Convert an integer to its binary representation

In [158]:
num = 65

In [159]:
binary_representation = bin(num)

In [160]:
print(f"binary representation:{binary_representation}")

binary representation:0b1000001

# 9 - Calculate Powers of Numbers

In [165]:
base = 5

In [166]:
exponent = 3

In [167]:
result = pow(base,exponent)

In [168]:
print(result)

125

# 10 - Round floating-point numbers

In [169]:
value = 15.34567

In [170]:
rounded_integer = round(value)

In [244]:
rounded_two_decimal = round(value,2)

In [245]:
print("Rounded to nearest integer:",rounded_integer)

Rounded to nearest integer: 15

In [246]:
print("Rounded to two decimal places:",rounded_two_decimal)

Rounded to two decimal places: 15.35